@model TruckerPay.Models.WeeklyPay.WeeklyPayCreate

@{
    ViewBag.Title = "Create";
}

<h2 style="color: white">Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="color: white">WeeklyPayCreate</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.PayDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.PayDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PayDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.StartPayWeek, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.StartPayWeek, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartPayWeek, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.EndPayWeek, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.EndPayWeek, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndPayWeek, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.HealthInsuranceCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.HealthInsuranceCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HealthInsuranceCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.DentalInsuranceCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.DentalInsuranceCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DentalInsuranceCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.LifeInsuranceCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.LifeInsuranceCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LifeInsuranceCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.LayOverPay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.LayOverPay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LayOverPay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.AdvancesTaken, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.AdvancesTaken, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdvancesTaken, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.BreakdownPay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.BreakdownPay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BreakdownPay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.DetentionPay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.DetentionPay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DetentionPay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.Bonuses, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.Bonuses, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bonuses, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color: white">
            @Html.LabelFor(model => model.TaxRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color: white">
                @Html.EditorFor(model => model.TaxRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaxRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
