@model TruckerPay.Models.WeeklyPay.WeeklyPayDetail

@{
    ViewBag.Title = "Delete";
}

<h2 style="color: white">Delete</h2>

<h3 style="color: white">Are you sure you want to delete this?</h3>
<div>
    <h4 style="color: white">WeeklyPayDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color: white">
            @Html.DisplayNameFor(model => model.WeeklyPayId)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.WeeklyPayId)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.PayDate)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.StartPayWeek)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.StartPayWeek)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.EndPayWeek)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.EndPayWeek)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.HealthInsuranceCost)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.HealthInsuranceCost)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.DentalInsuranceCost)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.DentalInsuranceCost)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.LifeInsuranceCost)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.LifeInsuranceCost)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.LayOverPay)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.LayOverPay)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.AdvancesTaken)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.AdvancesTaken)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.BreakdownPay)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.BreakdownPay)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.DetentionPay)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.DetentionPay)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.Bonuses)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.Bonuses)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.TaxRate)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.LoadId)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.LoadId)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.EmptyMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.EmptyMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.LoadedMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.LoadedMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.TotalPay)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.TotalPay)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.TotalMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.TotalMiles)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
