@model TruckerPay.Models.LoadPay.LoadPayDetails

@{
    ViewBag.Title = "Delete";
}

<h2 style="color: white">Delete</h2>

<h3 style="color: white">Are you sure you want to delete this?</h3>
<div>
    <h4 style="color: white">LoadPayDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color: white">
            @Html.DisplayNameFor(model => model.PerDiemRate)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.PerDiemRate)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.PayRateLoadedMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.PayRateLoadedMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.PayRateEmptyMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.PayRateEmptyMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.EmptyMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.EmptyMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.LoadedMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.LoadedMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.TotalMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.TotalMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.TotalPay)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.TotalPay)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
