@model TruckerPay.Models.LoadPay.LoadPayDetails

@{
    ViewBag.Title = "Details";
}

<h2 style="color: white">Details</h2>

<div>
    <h4 style="color: white">LoadPayDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color: white">
            @Html.DisplayNameFor(model => model.PerDiemRate)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.PerDiemRate)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.PayRateLoadedMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.PayRateLoadedMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.PayRateEmptyMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.PayRateEmptyMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.EmptyMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.EmptyMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.LoadedMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.LoadedMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.TotalMiles)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.TotalMiles)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.TotalPay)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.TotalPay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoadId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
