@model IEnumerable<TruckerPay.Models.LoadPay.LoadPayListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PerDiemRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayRateLoaded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayRateEmpty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PerDiemRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayRateLoaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayRateEmpty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoadPayId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoadPayId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoadPayId })
        </td>
    </tr>
}

</table>
