@model TruckerPay.Models.Load.LoadDetails

@{
    ViewBag.Title = "Details";
}

<h2 style="color: white">Details</h2>

<div>
    <h4 style="color: white">LoadDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color: white">
            @Html.DisplayNameFor(model => model.LoadId)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.LoadId)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.ShipperName)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.ShipperName)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.PickUpAppt)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.PickUpAppt)
        </dd>

        <dt style="color: white">
            @Html.DisplayNameFor(model => model.DeliveryAppt)
        </dt>

        <dd style="color: white">
            @Html.DisplayFor(model => model.DeliveryAppt)
        </dd>

    </dl>
</div>
<p style="color: white">
    @Html.ActionLink("Edit", "Edit", new {  id = Model.LoadId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
