@model IEnumerable<TruckerPay.Models.Load.LoadListItem>

@{
    ViewBag.Title = "Index";
}

<h2 style="color: white">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="color: white">
            @Html.DisplayNameFor(model => model.LoadId)
        </th>
        <th style="color: white">
            @Html.DisplayNameFor(model => model.ShipperName)
        </th>
        <th style="color: white">
            @Html.DisplayNameFor(model => model.ReceiverName)
        </th>
        <th style="color: white ">
            @Html.DisplayNameFor(model => model.PickUpAppt)
        </th>
        <th style="color: white ">
            @Html.DisplayNameFor(model => model.DeliveryAppt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="color: white">
            @Html.DisplayFor(modelItem => item.LoadId)
        </td>
        <td style="color: white ">
            @Html.DisplayFor(modelItem => item.ShipperName)
        </td>
        <td style="color: white ">
            @Html.DisplayFor(modelItem => item.ReceiverName)
        </td>
        <td style="color: white ">
            @Html.DisplayFor(modelItem => item.PickUpAppt)
        </td>
        <td style="color: white ">
            @Html.DisplayFor(modelItem => item.DeliveryAppt)
        </td>
        <td style="color: white ">
            @Html.ActionLink("Edit", "Edit", new { id=item.LoadId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoadId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.LoadId  })
        </td>
    </tr>
}

</table>
